* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/README.md export-ignore
/RELEASE.md export-ignore
/app export-ignore
/bootstrap export-ignore
/box.json export-ignore
/composer.lock export-ignore
/config export-ignore
/phpstan.neon export-ignore
/phpunit.xml export-ignore
/flint export-ignore
/flint.json export-ignore
/resources export-ignore
/src export-ignore
/storage export-ignore
/tests export-ignore
